.badge {
  text-transform: uppercase;
}
.badge--time {
  font-size: 1.75rem;
  height: 4rem;
  flex: 1;
  margin-left: .35rem;
  margin-right: .35rem;
  line-height: 1.3;
}


.badge-secondary {
  font-size: 1.5rem;padding: 0;
  width: 34px;
  height: 34px;
  line-height: 1.43;
  margin-right: .5rem;
  // color: $gray-600;
  // background-color: $gray-400;
  // font-family: $font-primary;
  // font-weight: 900;
}
