.btn {
  font-family: $font-primary;
  text-transform: uppercase;
  font-weight: 900;
}
.btn-primary {
  font-size: 1rem;
  color: inherit;
  background-color: $white;
  border-color: $light;
  i {
    font-size: 1.6rem;
    color: $red;
  }
  @include hover-focus-active {
    i{
      color: white;
    }
}

  // span {
  //   margin-top: .1rem;
  // }
}
.btn-red, .btn-primary {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}
.btn-red {
  background-color: $red;
  color: white;
  font-size: 1rem;
  border-color: $red;
  i {
    font-size: 1.6rem;
    // margin-right: .5rem;
    color: white;
  }
  span {
    margin-top: .1rem;
  }
}
.btn-red-vod {
  position: relative;
  margin-top: .5rem;
  i {
    margin-right: .5rem;
  }
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: -14px;
    right: 0;
    margin-top: 0;
  };
}
.btn-sign {
  border: none;
  display: flex;
  transition: all .2s ease;
  i {
    font-size: 2.125rem;
  }
  padding-right:  1rem;
  padding-left: 0;
  background-color: transparent;
  @include media-breakpoint-up (md) {
    padding-right: 1.85rem;
    padding-left: 0;
  }
  @include hover-focus-active {
    i {
      color: $red;
      background-color:transparent;
    }
    background-color: transparent;
    transform: translate(10px,0);
  }
}
.btn--search {
  color: $red;
  font-size: 1.375rem;
  padding: 0.3rem 1.5rem;
  width: 100%;
  @include media-breakpoint-up (md) {
    width: auto;
  };
}
.btn-info {
    background-color: transparent;
    border-color: transparent;
    display: flex;
    opacity: .5;
    padding: .5rem 0;
    font-family: $font-secondary-condens;
    text-transform: uppercase;
    @include media-breakpoint-up (sm) {
      padding: 1rem 0;
    };
    i {
      margin-right: .5rem;
      font-size: 1.5rem
    }
    @include hover-focus-active {
      opacity: 1;
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
    };
}
.btn:focus {
  box-shadow: none !important;
}
.btn-muted {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  border: 3px solid rgba(255, 255, 255, .4);
  @include hover-focus {
    border-color: rgba(255, 255, 255, 1);
    color: white;
  };
}
.btn-muted + .row  {
  border-top: none !important;
}
.btn-xl {
  padding: 1rem 5rem;
}
.btn-small-icon {
  border: none;
  padding: 0;
  i {
    font-size: 1.2rem;
    margin-right: .5rem;
    line-height: 1.3;
  }
  @include hover-focus-active {
    background-color: transparent;
    color: $red;
    i {
      color: $red;
    }
  };
}
