.card {
  border: none;
  border-radius: 0;
  .card-img-top {
    border-radius: 0;
  }
}
.card--no-p-trans {
  background-color: transparent;
  padding: 0;
}
.card--horizontal {
  .card-body {
    padding: 0;
    h2 {
      margin-bottom: 0;
    }
    P{
      margin-bottom: .1rem;
    }
  }
}
.card-img-top--fix-width {
  width: auto;
}

.card--arrow {
  .card-body, .card-footer {
    align-self: center;
    border: none
  }
  .card-footer {
    padding: 0
  }
}

.card--lists {
  .card-title, .card-text {
    margin-bottom: 0;
  }
  .inline-title{
    // display: inline-block;
    @include flexContainer (column, flex-start, center);
    @include media-breakpoint-up(lg){
		@include flexContainer (row, center, flex-start,);
	};
  }
  .card-title {
    margin-right: .5rem;
  }
}
.card--dates {
  .col-auto {
        flex: 0 1 auto;
  }
  margin-bottom: .7rem;
  padding-bottom: .7rem;
  .card-header, .card-body {
    padding: 0;
  }
  .card-body {
    margin-left: -.35rem;
    margin-right: -.35rem;
  }
  .card-header{
    margin-bottom: .7rem;
    background-color: white;
    border:none;
  }
  .card-body.d-flex {
    overflow: auto;
  }
  border-bottom: solid 2px $gray-300;
}
.card--dates:last-child {
  border-bottom: none;
}
