.card {
  border: none;
  border-radius: 0;
  .card-img-top {
    border-radius: 0;
  }
}
.card--no-p-trans {
  background-color: transparent;
  padding: 0;
  h6 {
    margin-bottom: 0
  }
}
.card--mix-grid:first-child {
  margin-right: 6px
}
.card--mix-grid:last-child {
  padding-left: 24px;
  margin-left: 0;
}
.card--horizontal {
  .card-body {
    padding: 0;
    h2 {
      margin-bottom: 0;
    }
    P{
      margin-bottom: .1rem;
    }
  }
}
.card-img-top--fix-width {
  width: auto;
}

.card--arrow {
  .card-body, .card-footer {
    align-self: center;
    border: none
  }
  .card-footer {
    padding: 0
  }
  .d-flex, .card-body {
    height: 100%
  }
}

.card--lists {
  .card-title, .card-text {
    margin-bottom: 0;
  }
  .inline-title{
    // display: inline-block;
    @include flexContainer (column, flex-start, center);
    @include media-breakpoint-up(lg){
		@include flexContainer (row, center, flex-start,);
	};
  }
  .card-title {
    margin-right: .5rem;
  }
}
.card--dates {
  .col-auto {
        flex: 0 1 auto;
  }
  margin-bottom: .7rem;
  padding-bottom: .7rem;
  .card-header, .card-body {
    padding: 0;
  }
  .card-body {
    margin-left: -.35rem;
    margin-right: -.35rem;
  }
  .card-header{
    margin-bottom: .7rem;
    background-color: white;
    border:none;
  }
  .card-body.d-flex {
    overflow: auto;
  }
  border-bottom: solid 2px $gray-300;
}
.card--dates:last-child {
  border-bottom: none;
}

/*-------------------------------------------
 hero card
-------------------------------------------*/

.card--hero {
  position: absolute;
  bottom: 17%;
  border-left: solid $red 6px;
  border-right: solid red 6px;
  z-index: 66;
  .card-body, .card-footer {
    padding-top: 0;
    padding-bottom: 0;
  }
  .card-body {
    padding-bottom: 1rem;
  }
  .card-footer {
    padding-bottom: 0;
    border-top: none;
    .row {
      border-top: 3px solid rgba(255,255,255, 0.4)
    }
  }
  h1 {
    border-bottom: 0px;
    margin-bottom: 0
  }
  .card-text {
    color: rgba( 255,255,255, 0.6);
    text-transform: uppercase;
  }
}
.card-deck {
  height: 100%;
  .card {
    // height: 100%;
  }
}
