.owl-nav--custom {
  h6 {
    margin: 0
  }
  @include flexContainer(row, center, flex-end);
  .owl-prev {
    order: 2;
  }
  .owl-next {
    order: 3;
  }
  .owl-next, .owl-prev {
    background: transparent;
    border: 0;
    font-size: 2em;
  }
}
.owl-one .item  {
  height: 600px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.owl-lazy  {
  height: 600px;
  background-size: cover;
  background-position: center;
}

.owl-one--gallery {
  .owl-item, .item, .owl-lazy {
    height: auto;
  }
}
