.card {
  border: none;
  border-radius: 0;
  .card-img-top {
    border-radius: 0;
  }
}
.card--no-p-trans {
  background-color: transparent;
  padding: 0;
  h6 {
    margin-bottom: 0;
    font-family: $font-secondary-condens;
    text-transform: none;
  }
  .card-body {
    padding: .5rem 1.25rem 0rem 1.25rem;
    text-align: center;
  }
}
.card--mix-grid:first-child {
  margin-right: 6px
}
.card--mix-grid:last-child {
  padding-left: 24px;
  margin-left: 0;
}
.card--horizontal {
  .card-body {
    padding: 0;
    h2 {
      margin-bottom: 0;
    }
    P{
      margin-bottom: .1rem;
    }
  }
}
.card-img-top--fix-width {
  width: auto;
}

.card--arrow {
  .card-body, .card-footer {
    align-self: center;
    border: none
  }
  .card-footer {
    padding: 0
  }
  .d-flex, .card-body {
    height: 100%
  }
  p {
    font-family: $font-secondary-condens;
    color: $gray-550;
    line-height: 1.3rem;
  }
  .card-title {
    margin-bottom: 0;
  }
  .card-body {
    padding: 1.875rem;
    text-align: left;
  }
}

.card--lists {
  .card-title, .card-text {
    margin-bottom: 0;
  }
  .inline-title{
    // display: inline-block;
    @include flexContainer (column, flex-start, center);
    @include media-breakpoint-up(lg){
		@include flexContainer (row, center, flex-start,);
	};
  }
  .card-title {
    margin-right: .5rem;
  }
}
.card--list {
  .card-body {
    height: auto;
    // padding: 1.066rem;
    padding: .3rem;
    flex: 1 1 20%;
    p {
      margin-bottom: .5rem;
      margin-top: -.2rem;
    }
  }
  .d-flex {
    height: auto;
  }
  // .col {
  //   @include flexContainer (column, center, center);
  // }
  .card-img-wrapper {
    height: 100%;
    background-size: cover;
    background-position: center;
    min-height: 12.5rem;
    @include media-breakpoint-up(sm) {
    min-height: 17.125rem;
    };
    @include media-breakpoint-up(lg) {
      min-height: 8.6rem;
    };
  }
}

.control-date {
  display: flex;
  align-items: center;
  max-width: 105px;
  border-right: solid 4px  $gray-200;
  margin-right: 1.875rem;
}
.card-group--icons {
  margin: 1rem 0;
  flex-direction: row;
  margin-bottom: 0;
  @include media-breakpoint-up(lg) {
    margin: 0;
  };

  .card--icons:first-child {
      border-right: 4px solid $gray-200;
  }
  .card--icons:last-child {
      border-left: 4px solid $gray-200;
  }

}
.card--date {
  span {
    font-size: 0.8125rem;
    display: block;
    font-family: $font-secondary;
    text-transform: uppercase;
    font-weight: bold;
  }
  .card-body {
    padding: 0;
    align-self: flex-start;
    h2 {
    font-family: $font-secondary;
    font-size: 4rem;
    line-height: 56px;
    }
  }
}
.card--icons {
  .card-body {
    @include flexContainer (column, center, center);
    @include media-breakpoint-between(sm, md) {
      @include flexContainer (row, center, center);
    };
    h6 {
      font-family: $font-secondary-condens;
      color: $gray-550;
      margin-bottom: 0;
      font-size: 0.9375rem;
      display: none;
      @include media-breakpoint-up(sm) {
        display: block;
      };
    }
    i {
      font-size: 2.5rem;
      margin-bottom: 0rem;
      margin-right: 0rem;
      @include media-breakpoint-up(sm) {
        margin-bottom: .5rem;
        margin-right: .5rem;
        font-size: 1.5rem;

      };
      @include media-breakpoint-up(lg) {
        font-size: 3.5rem;
        margin-right: 0rem;
      };
    }
  }
}
.card--dates {
  .col-auto {
        flex: 0 1 auto;
  }
  margin-bottom: .7rem;
  padding-bottom: .7rem;
  .card-header, .card-body {
    padding: 0;
  }
  .card-body {
    margin-left: -.35rem;
    margin-right: -.35rem;
  }
  .card-header{
    margin-bottom: .7rem;
    background-color: white;
    border:none;
  }
  .card-body.d-flex {
    overflow: auto;
  }
  border-bottom: solid 2px $gray-300;
}
.card--vod.col-lg-3 {
  @include media-breakpoint-up(lg) {
    flex: 0 0 16.6666667%;
  };
}
.card--vod {
  background: transparent;
  margin-bottom: 1.875rem;
  .card-body {
    padding-bottom: 0;
    background-color: white;
  }
  .card-footer:last-child  {
    border-radius: 0;
  }
  .card-footer {
    font-size: 1.25rem;
    font-family: $font-secondary-condens;
    font-weight: bold;
    padding: 1.25rem;
    padding-top: 0;
    i {
      margin-right: .4rem
    }
    .fa-star {
      color: $yellow;
    }
    .btn-sm {
      font-size: .8125rem;
      margin-top: .3rem;
      i {
        font-size: 1.23rem;
      }
    }
  }
  h6 {
    font-family: $font-secondary-condens;
    font-weight: bold;
  }
}
.card--news {
  background: transparent;
  margin-bottom: 1rem;
  .card-body, .card-footer {
    padding-left: 0;
    padding-right: 0;
  }
  h4 {
    font-family: $font-secondary-condens;
    text-transform: uppercase;
  }
  p:last-child {
    margin-bottom: 0
  }
  .card-footer {
    font-weight: bold;
  }
  p, .card-footer {
    font-size: 0.875rem;
    color: $gray-600;
  }
}


.card--dates:last-child {
  border-bottom: none;
}

/*-------------------------------------------
 hero card
-------------------------------------------*/

.card--hero {
  position: absolute;
  bottom: 17%;
  border-left: solid $red 6px;
  border-right: solid $red 6px;
  z-index: 66;
  .card-body, .card-footer {
    padding-top: 0;
    padding-bottom: 0;
  }
  .card-body {
    padding-bottom: 1rem;
  }
  .card-footer {
    padding-bottom: 0;
    border-top: none;
    .row {
      border-top: 3px solid rgba(255,255,255, 0.4)
    }
  }
  h1 {
    border-bottom: 0px;
    margin-bottom: 0;
    margin-top: -1rem;
  }
  .card-text {
    color: rgba( 255,255,255, 0.6);
    text-transform: uppercase;
  }
}
.card-deck {
  height: 100%;
  .card {
    // height: 100%;
  }
}
.card-deck {
  .card--order {
    margin-left: 0;
    margin-right: 0;
    .btn-sign {
      padding: 0rem;
    }
    .card-img-top {
      margin-bottom: 0.5rem;
    }
    .card-body {
      padding: 0;
    .card-title {
      font-size: 0.875rem;
      margin-bottom: 0;
      }
    }
    .card-footer {
      .btn-sign i {
        font-size: 1.3rem;
      }
    }
  }
}
.card--wraper-order {
  border: 3px solid $gray-200;
  padding: 0.75rem;
  h5 {
    margin-bottom: 0;
    border-bottom: 0.2rem solid $dark;
  }
}
.card--banner {
  min-height: 4rem;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  transition: 1s all ease;
  .card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: .5rem;
    @include media-breakpoint-up(sm) {
      flex-direction: row;
      padding: 0;
    };
    .card-img-top {
      width: 135px;
      height: auto;
      margin-bottom: .5rem;
      @include media-breakpoint-up(sm) {
          width: 95px;
        margin-bottom: 0;
      };
    }
    .btn-primary i {
      font-size: 1rem;
    }
  }
  h5 {
    font-family: $font-secondary-condens;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: .5rem;
    @include media-breakpoint-up(sm) {
      font-size: 1rem;
      margin-bottom: 0;
    };
    @include media-breakpoint-up(md) {
      font-size: 1.375rem;
    };

    span {
      color: $gray-550;
    }
  }
  .card-footer {
    color: $gray-400;
  }
}
.card--banner-close {
   min-height: 0;
    height: 0;
    overflow: hidden;
}
