.form-control--no-border {
  border: none;
  border-radius: 0;
  font-family: $font-primary;
  font-size: 2.5rem !important;
  text-transform: uppercase;
  font-weight: 900;
  flex: 1 0 auto;
  width: 100%;
}


.form-inline--border-bottom {
  border-bottom: 4px solid $gray-200;
}


.custom-select--gray {
  border: none;
  border-radius: 0;
  background-color: $gray-450;
  position: relative;
  color: $gray-550;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 1.75rem 1rem .75rem;
  height: unset;

}


.form--ticket {
  @include noGutter (-2px, 2px);
  .col-md-6:first-child .custom-select--gray {
    margin-bottom: 0.25rem;
    @include media-breakpoint-up (md) {
      margin-bottom: 0rem;
    };
  }
}



.form-control {
  border-radius: 0;
}
.form-control-lg {
 padding: .49999999rem 1rem;
}
label {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: $gray-600;
  font-weight: bold;
  font-family: $font-secondary-condens;
  margin-bottom: .3rem;
}

/*-------------------------------------------
  search form
-------------------------------------------*/

.container--seach {
  // min-height: 16.5rem;
  box-sizing: content-box;
  padding-top: 27px;
  padding-bottom: 36px;
  @include flexContainer (column, stretch, center);
  i {
    font-size: 2rem;
    color: $gray-400;
  }
  .form-control:focus {
    box-shadow: none;
    border: none;
  }
  transition: padding ease .4s;
}

.container--seach + .container-fluid {
  position: relative;
  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity ease .6s;
    pointer-events: none;
  }
}

.searchfocus {
  .container--seach {
    // min-height: 18.5rem;
    padding-top: 36px;
    padding-bottom: 48px;
  }
  .container--seach + .container-fluid {
    position: relative;
    &::after {
      opacity: .15 ;
    }
  }

}
