.form-control--no-border {
  border: none;
  border-radius: 0;
  font-family: $font-primary;
  font-size: 1.39rem !important;
  text-transform: uppercase;
  font-weight: 900;
  flex: 1 0 auto;
  width: 100%;
  color: $gray-900 !important;
  padding-left: .5rem !important;
  @include media-breakpoint-up (sm) {
    font-size: 2.5rem !important;
    padding-left: 1rem !important;
  };
}

.form-control--no-border::-webkit-input-placeholder {
  color: $gray-400!important;
}
.form-control--no-border:-moz-placeholder {
  /* FF 4-18 */
  color: $gray-400!important;
}
.form-control--no-border::-moz-placeholder {
  /* FF 19+ */
  color: $gray-400!important;
}
.form-control--no-border:-ms-input-placeholder {
  /* IE 10+ */
  color: $gray-400!important;
}


.form-inline--border-bottom {
  border-bottom: none;
  @include media-breakpoint-up (md) {
    border-bottom: 4px solid $gray-200;
  };
}


.custom-select--gray {
  border: none;
  border-radius: 0;
  background-color: $gray-450;
  position: relative;
  color: $gray-550;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 1.75rem 1rem .75rem;
  height: unset;

}


.form--ticket {
  @include noGutter (-2px, 2px);
  .col-md-6:first-child .custom-select--gray {
    margin-bottom: 0.25rem;
    @include media-breakpoint-up (md) {
      margin-bottom: 0rem;
    };
  }
}



.form-control {
  border-radius: 0;
}
.form-control-lg {
 padding: .49999999rem 1rem;
}
label {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: $gray-600;
  font-weight: bold;
  font-family: $font-secondary-condens;
  margin-bottom: .3rem;
}

/*-------------------------------------------
  search form
-------------------------------------------*/

.container--seach {
  min-height: 16.5rem;
  @include flexContainer (column, stretch, center);
  .form-control:focus {
    box-shadow: none;
    border: none;
  }
  i {
    font-size: 1.3rem;
    color: $gray-900;
    @include media-breakpoint-up (md) {
      font-size: 2rem;
    };
  }
}
