.form-control--no-border {
  border: none;
  border-radius: 0;
  font-family: $font-primary;
  font-size: 2.5rem !important;
}
.form-inline--border-bottom {
  border-bottom: 4px solid $gray-200;
}


.custom-select--gray {
  border: none;
  border-radius: 0;
  background-color: $gray-450;
  position: relative;
  color: $gray-550;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 1.75rem 1rem .75rem;
  height: unset;

}


.form--ticket {
  @include noGutter (-2px, 2px);
  .col-md-6:first-child .custom-select--gray {
    margin-bottom: 0.25rem;
    @include media-breakpoint-up (md) {
      margin-bottom: 0rem;
    };
  }
}



.form-control {
  border-radius: 0;
}
.form-control-lg {
 padding: .49999999rem 1rem;
}
label {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: $gray-600;
  font-weight: bold;
  font-family: $font-secondary-condens;
  margin-bottom: .3rem;
}
