//DEV
.user-modal .login { display: none !important; }
// .user-modal .register { display: none !important; }

//user-modal
.user-modal {
    background-color: #fff;
    position: fixed;
    top: 90px;
    right: calc(50% - 580px);
    z-index: 1030;
    transition: opacity ease-out .2s;
    pointer-events: none;
    opacity: 0;

    //login
    .login {
        padding: 40px;
        width: 400px;
    }

    //register
    .register {
        // padding: 40px;
        display: flex;
        width: 800px;
        .col1, .col2 {
            width: 50%;
            padding: 40px;
            min-height: 120px;
        }
        .col1 {
            background-color: $gray-200;
            text-align: center;
        }
        .col2 {
        }
    }

    //checkbox
    .form-check {
        position: relative;
        padding-left: 0;
        margin-top: 32px;
        cursor: pointer;
        input {
            width: 2px;
            position: absolute;
            left: 25px;
            top: 2px;

        }
        
        label {
            font-size: 16px;
            text-transform: initial;
            cursor: pointer;
            padding-left: 32px;
            position: relative;
            &::before {
                content: ' ';
                display: block;
                width: 24px;
                height: 24px;
                position: absolute;
                left: 0;
                top: 0;
                background-color: $gray-100;
                border: 1px solid $gray-400;
            }
        }
        input:checked + label {
            &::before {
                background-color: $gray-500;//DEV
            }
        }
    }

    //cim
    h2 {
        margin-bottom: 16px;
    }

    //bezaro gomb
    #user-modal-close {
        position: absolute;
        right: 40px;
        top: 40px;
        cursor: pointer;
        color: $gray-500;
        font-size: 1.5em;

        &:hover {
            color: darken($gray-500, 30%);
            color: $black;
        }
    }

    //submit gomb
    .btn-primary {
        width: 100%;
        border: 0;
        font-size: 22px;
        background-color: $c-red;
        color: #fff;
        letter-spacing: .5px;
        margin-bottom: 16px;
        &:hover {
            background-color: lighten($c-red, 7%);
        }
    }

    .form-group + button {
        margin-top: 1.7rem;
    }

    //beviteli mezok
    input[type="text"], input[type="email"], input[type="password"] {
        height: 48px;
        position: relative;
        background-repeat: no-repeat;
        background-position: top right;
        background-color: $gray-100;
    }

    input[type="email"], input[type="password"] {
        padding: .375rem 2.75rem .375rem .75rem;
    }

    input[type="email"] {
        background-image: url(/images/email-icon.svg);
    }

    input[type="password"] {
        background-image: url(/images/password-icon.svg);
    }

    // login apro betus
    .login small {
        font-family: "Roboto Condensed",sans-serif;
        font-size: 16px;
    }

}//user-modal

//lesotetites
.user-modal-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #000;
    background-color: $gray-600;
    opacity: 0;
    transition: opacity ease-out .2s;
    pointer-events: none;
}

//megjelenites
.show-user-modal {
        
    .user-modal {
        box-shadow: 0px 2px 15px rgba(0, 0, 0, .3);
        pointer-events: all;
        opacity: 1;

        //felso haromszog
        &::before {
            content: ' ';
            display: block;
            position: absolute;
            width: 0px;
            height: 0px;
            top: -36px;
            right: 16px;
            border-top: 18px solid transparent;
            border-bottom: 18px solid #fff;
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
            pointer-events: none;
        }
    }

    .user-modal-backdrop {
        opacity: .9;
        pointer-events: all;
        z-index: 4;
        cursor: pointer;
    }
}
