.navbar {
  font-weight: bold;
  width: 100%;
  display: flex;
  @include media-breakpoint-up (sm) {
  padding: .5rem 0rem;
  };
  .navbar-brand {
    opacity: .7;
    // @include media-breakpoint-up (md) {
    //   width: 62%;
    // };
    img {
      width: 62%;
      @include media-breakpoint-up (lg) {
        width: 100%;
      };
    }
  }
  .nav-item.active .nav-link {
    border-bottom: 0.25rem solid $red;
  }
  // .nav-link  {
  //   padding: 0 !important;
  // }
}
.top-nav {
  transition: background .3s  ease;
}
.top-nav, .top-nav .container {
  padding-left: 0;
  padding-right: 0;
  @include media-breakpoint-up (sm) {
    padding-left: 15px;
    padding-right: 15px;
  };
}
.nav--secondary {
  .nav-link {
    font-size: 1.375rem;
    text-transform: uppercase;
    color: $gray-550;
  }
}

.nav-link {
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 2rem;
  font-family: $font-secondary-condens;
  letter-spacing: 0.84px;
  @include media-breakpoint-up (lg) {
    font-size: 1rem;
  };
}

.nav--secondary, .navbar--tertiary {
  .nav-link {
  color: $gray-550;
  font-weight: bold;
  }
}


.navbar--film-list {
  padding-right: 0;
  padding-left: 0;
  .dropdown-menu {
    border: none;
  }
  .navbar-brand {
    margin: 0;
  }
  .navbar-toggler {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-up (lg) {
      display: none;
    };
    i {
      font-size: 2rem;
      color: $gray-400;
    }
  }
  .navbar-collapse {
    position: absolute;
    top: 50px;
    background: white;
    width: 100%;
    z-index: 66;
    padding: 1rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.175);
    @include media-breakpoint-up (lg) {
    position: relative;
    padding: 0;
    top: unset;
    box-shadow: none !important;
    };
  }
  button:focus {
        outline: none;
  }
  .nav-item {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: $font-secondary-condens;
    .nav-link {
      color: $gray-550;
      // @include flexContainer (row, center, space-between);
    }
    .nav-link.active {
      color: $gray-900;
    }
  }
  .nav-item.active .nav-link {
    border-bottom: 0;
  }
  .dropdown-toggle::after {
    display: none;
  }
}
.navbar--tertiary {
  padding: 0;
  margin-bottom: .5rem;
  margin-top: .5rem;
  @include media-breakpoint-up (lg) {
    margin-bottom: 0;
    margin-top: 0;
  };
  .nav-link.disabled {
    color: $dark !important;
  }
    .navbar-toggler {
      width: auto;
      margin-right: 1rem;
      order: 1;
    }
    .navbar-collapse {
      top: 41px;
      @include media-breakpoint-up(lg) {
        background: transparent;
        top: unset;
      };
    }
    nav {
      order:2;
    }
    .nav-item {
      font-size: 1.2rem;
      @include media-breakpoint-up(lg) {
        font-size: 1rem;
      };
    }
    .dropdown-menu {
      border: 0;
      margin: 0;
      border-radius: 0;
      box-shadow: none;
      z-index: 75;
      @include media-breakpoint-up(lg) {
      box-shadow: 0 1rem 3rem rgba(0,0,0,0.175);
      };
    }
    .dropdown.show {
      background: white;
    }
    .nav-link {
      padding: 1rem;
      @include media-breakpoint-up (lg) {
      padding: 1rem;
      };
    }
    .navbar-nav .nav-link {
      padding-left:0;
      padding-right:0;
      @include media-breakpoint-up (lg) {
        padding-left: .7rem;
        padding-right: .7rem;
      };
    }
}

footer {
    .navbar-brand {
    margin-bottom: 1rem;
    @include media-breakpoint-up (lg) {
      margin-bottom: 0;
    };
    }
}

//login a menuben
.navbar .nav-login {
  a {
    font-size: 1.5em;
    color: darken(#fff, 15%);
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5em;
    margin-left: 15px;
    i+i {
      font-size: 0.666666666667em;
      padding-left: 4px;
      position: relative;
      bottom: 2px;
      display: none;
    }
    &:hover {
      color: #fff;
    }
  }
}
.logged-in {
  .navbar .nav-login {
    i+i {
      display: inline;
    }
  }
}

// navbar order mobile
@include media-breakpoint-down(md) {
  .navbar {
    // background-color: red;
    .navbar-toggler {
      order: 2;
    }
    .nav-login {
      order: 1;
      margin-right: 16px;

    }
  }
}
.searchfocus .navbar .nav-search {
  a {
    color: #fff;
  }
}
.navbar .nav-search {
  a {
    font-size: 1.5em;
    color: darken(#fff, 15%);
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5em;
  }
}




.offcanvas-collapse {
  left: 0;
  top: 0;
  transition-property: opacity;
  transition-duration: .6s;
  opacity: 0;
  background-color: $gray-900;
  @include media-breakpoint-up (lg) {
    opacity: 1;
    background-color: transparent;
  };
  .navbar-toggler  {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
  }
  .navbar-nav {
    margin-top: 2.5rem;
    @include media-breakpoint-up (lg) {
      margin-top: 0;
    };
  }
}
.offcanvas-collapse.open {
  opacity: 1;
}
