body{
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	padding: 0;
}
section{
	margin-bottom: 4.5rem;
}


.owl-all-device {
	.owl-item {
		background: black;
	}
	.item {
		opacity: .7;
	}
}
