body{
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	padding: 0;
	color: $gray-900 !important;
	font-family: $font-secondary;
}
.section--bm{
	padding-bottom: 2rem;
	@include media-breakpoint-up (md) {
		padding-bottom: 4.5rem;
	};
}


.owl-all-device {
	.owl-item {
		background: black;
	}
	.item {
		opacity: .7;
	}
}
.main-subpage {
	margin-top: 5.5rem;
}

h1, h2, h3, .display-3, h5, h6 {
	font-family: $font-primary;
	text-transform: uppercase;
	font-weight: 900;
}
h1 {
	border-bottom: 0.25rem solid $dark;
}
.display-3 {
	letter-spacing: -2px;
}
// h3, h2 {
// 	letter-spacing: -1px;
// }
.poster {
	@include noGutter (-4px, 4px);
	.col-auto:first-child {
		flex: 1 0 100%;
		@include media-breakpoint-up (md) {
			flex: 1 0 65%;
		};
	}
	.col-auto:last-child {
		flex: 0 0 100%;
		@include media-breakpoint-up (md) {
			flex: 0 0 28.42%;

		};
	}
	padding-bottom: 3rem;
}

.container--top {
	.row {
		min-height: 16.5rem;
		align-items: center;
	}
}
.shadow {
	box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.24) !important
}

.container-fluid.bg-light {
	.container {
		padding-left: 0px;
		padding-right: 0px;
		@include media-breakpoint-up (md) {
			padding-right: 15px;
			padding-left: 15px;
		};
	}
}
