body{
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	padding: 0;
	color: $gray-900 !important;
	font-family: $font-secondary;
}
.section--bm{
	padding-bottom: 4.5rem;
}


.owl-all-device {
	.owl-item {
		background: black;
	}
	.item {
		opacity: .7;
	}
}
.main-subpage {
	margin-top: 5.5rem;
}

h1, h2, h3 {
	font-family: $font-primary;
}
h1 {
	border-bottom: 0.25rem solid $dark;
}
.poster {
	@include noGutter (-4px, 4px);
	.col-auto:first-child {
		flex: 1 0 100%;
		@include media-breakpoint-up (md) {
			flex: 1 0 65%;
		};
	}
	.col-auto:last-child {
		flex: 0 0 100%;
		@include media-breakpoint-up (md) {
			flex: 0 0 28.42%;

		};
	}
	padding-bottom: 3rem;
}
